@import "reset.css";

:root {
    --color-primary:  #6232FA;
    --color-secondary: #567A58;
    --color-link-shadow: #b9b9b9;
}
html,
body {
    min-height: 100vh;
}

body {
    background-color: #EFEFEF;
    font-family: sans-serif;;
    padding: 1ex;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

ul {
    padding-inline-start: 20px;
}

a {
    transition: .25s ease-in-out all;
}
a,
a:link,
a:visited {
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 -4px 0 0 var(--color-link-shadow) inset;
    padding: 0 2px 2px;
}

a:hover,
a:active,
a:focus {
    box-shadow: 0 -10px 0 0 var(--color-link-shadow) inset;
    text-decoration: none;
}

.todo {
    color: var(--color-primary);
}

.todo-complete {
    text-decoration: line-through;
    color: var(--color-primary);
}

.date-complete {
    margin-left: 4px;
    font-size: 14px;
}

.site-content {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    max-width: 130ch;
}

main,
aside,
footer,
header {
    border: 1px solid #d0d0d0;
}

header,
footer,
.site-main,
.site-sidebar {
    background-color: #ffffff;
    padding: 2ex 2ex;
}

header,
footer {
    grid-column: 1 / -1;
}

footer {
    font-size: 15px;
    text-align: center;
}

.site-main,
.site-sidebar {
    background-color: #ffffff;
    padding: 30px 2ex;
}

.stack * + * {
    margin-top: 1ex;
}

@media screen and (min-width: 800px) {
    .site-content {
        grid-template-columns: 3fr 1fr;
    }
}
